.places {
  max-width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.places__card {
  position: relative;
  width: 282px;
  height: 361px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.places__image {
  width: 100%;
  min-height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.places__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 18px 31px 21px;
  padding: 0;
  color: #000;
}

.places__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.places__like-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0 0 0 5px;
  width: 21px;
  height: 19px;
  flex-shrink: 0;
  background-image: url("../images/like-button_inactive.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.places__delete-button {
  position: absolute;
  right: 15px;
  top: 18px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 18px;
  height: 19.1px;
  flex-shrink: 0;
  background-image: url("../images/delete-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.places__delete-button:hover {
  opacity: 60%;
}

.places__like-button:hover {
  opacity: 50%;
}

.places__like-button_active {
  background-image: url("../images/like-button_active.svg");
}
